<section class="container" ng-controller="AddChallengeController">
    <div class="form-group col-lg-6 col-lg-offset-3">
        <form name="AddChallengeForm">
            </br>
            <label>Title: </label>
            <input type="text" class="form-control" ng-model="chObj.title">
            <label>Description: </label>
            </br>
            <textarea rows="4" cols="50" class="form-control" ng-model="chObj.desc"></textarea>
            </br>
            <label>Prize: </label>
            </br>
            <textarea rows="4" cols="50" class="form-control" ng-model="chObj.price"></textarea>
            </br>
            <label>Difficulty: </label>
            </br>
            <input type="text" class="form-control" ng-model="chObj.diff">
            </br>
            <button type="submit" class="btn btn-primary col-lg-offset-5" ng-click="AddChallenge()">Add Challenge</button>
            <strong class="alert alert-danger" ng-hide="message=='' || !message">{{message}}</strong>
        </form>
    </div>
</section>
