<section class="container" ng-controller="LoginController">
    <div class="form-group col-lg-6 col-lg-offset-3">
        <form name="UserLoginForm">
            </br>
            <label>Username: </label>
            <input type="text" class="form-control" ng-model="userObj.username">
            <label>Password: </label>
            <input type="password" class="form-control" ng-model="userObj.password">
            </br>
            <button type="submit" class="btn btn-primary col-lg-offset-5" ng-click="Login()">Login!</button>
            <strong class="alert alert-danger" ng-hide="message1=='' || !message1">{{message1}}</strong>
        </form>
    </div>
</section>