<section class="container" ng-controller="UserProfileController">
    <section class="page-header" style="height: 150px">
        <div class="col-lg-2">
            <img src="{{User.Image}}" class="img-rounded" width="140" height="140"/>
        </div>
        <div>
            <h1>{{User.Username}}</h1>
            <h4>{{User.Fullname}}</h4>
            <h4>{{User.Email}}</h4>
            <h4>{{User.Birthdate.substring(0,10)}}</h4>
        </div>
    </section>

    <section name="LPs" class="col-lg-9">
        <div class="form-group" ng-show = "SendMessageShow">
            <form>
                <textarea rows="4" cols="50" class="form-control" ng-model="MessageText"></textarea>
                </br>
                <button type="SUBMIT" class="btn btn-primary col-lg-offset-5" ng-click="SendMessage()">Send</button>
                <button type="SUBMIT" class="btn btn-warning col-lg-offset-0" ng-click="CancelSendMessage()">Cancel</button>
            </form>
        </div>
        <ul class="list-group" ng-show="ShowInbox">
            <li class="list-group-item active panel-title">You have {{UnreadMessagesCount}} New Messages</li>
            <li class="list-group-item" ng-repeat="msg in UnreadMessages">
                <h4><strong><a href="/#/User/{{msg.Sender}}">{{msg.Sender}}</a></strong></h4>
                <h5>{{msg.MessageText}}</h5>
            </li>
        </ul>
        <ul class="list-group" ng-show="ShowMyLP">
            <li class="list-group-item active panel-title">{{User.Username}}'s Added Learning Paths</li>
            <li class="list-group-item" ng-repeat="learningpath in LearningPaths">
                <h4><strong><a href="/#/ViewLP/{{learningpath.ID}}">{{learningpath.Title}}</a></strong></h4>
                <h5>{{learningpath.Description}}</h5>
            </li>
            <h6>{{ULPmessage}}</h6>
        </ul>

        <ul class="list-group" ng-show="ShowRegLP">
            <li class="list-group-item active panel-title">{{User.Username}}'s Registered Learning Paths</li>
            <li class="list-group-item" ng-repeat="learningpath in RegisteredLearningPaths">
                <h4><strong><a href="/#/ViewLP/{{learningpath.ID}}">{{learningpath.Title}}</a></strong></h4>
                <h5>{{learningpath.Description}}</h5>
            </li>
            <h6>{{FLPmessage}}</h6>
        </ul>

        <ul class="list-group" ng-show="ShowInbox">
            <li class="list-group-item active panel-title">Inbox</li>
            <li class="list-group-item" ng-repeat="msg in ReadMessages">
                <h4><strong><a href="/#/User/{{msg.Sender}}">{{msg.Sender}}</a></strong></h4>
                <h5>{{msg.MessageText}}</h5>
            </li>
        </ul>



        <section class="panel panel-primary" ng-show="ShowEditInfo">
            <div class="panel-heading">
                Edit Info
            </div>
            <div class="panel-body">
                <form name="EditInfoForm" class="form-horizontal">
                    <fieldset>
                        </br>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Password: </label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" ng-model="User.Password">
                            </div></div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">E-mail: </label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="User.Email">
                            </div></div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name: </label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="User.Fullname">
                            </div></div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Gender: </label>

                            <div class="col-lg-10">
                                <label class="radio-inline" ><input type="radio" ng-model="User.Gender" value="M" ng-checked="true">Male</label>
                                <label class="radio-inline" ><input type="radio" ng-model="User.Gender" value="F">Female</label>
                                </br>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Birthdate:</label>
                            <div class="col-lg-10">
                                <select ng-model="birthYear">
                                    <option ng-repeat="n in Years" value="{{n}}">{{n}}</option>
                                </select>
                                <select ng-model="birthMonth">
                                    <option ng-repeat="n in Months" value="{{n}}">{{n}}</option>
                                </select>
                                <select ng-model="birthDay">
                                    <option ng-repeat="n in Days" value="{{n}}">{{n}}</option>
                                </select>
                                </br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Image Url: </label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="User.Image"></br>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary col-lg-offset-5" ng-click="submitUserData()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="cancelsubmitUserData()">Cancel</button>
                        <strong class="alert alert-danger" ng-hide="message=='' || !message">{{message}}</strong>
                    </fieldset>
                </form>
            </div>
        </section>







    </section>
    <aside name="Follow relations" class="col-lg-3">
        <section class="panel panel-primary" ng-hide="ShowControlPanel">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <button type="submit" class="btn btn-primary col-lg-12" ng-click="ShowInboxBtn()">Inbox</button>
                <button type="submit" class="btn btn-primary col-lg-12" ng-click="ShowMyLPBtn()">My Learning Paths</button>
                <button type="submit" class="btn btn-primary col-lg-12" ng-click="ShowRegLPBtn()">My Registered Learning Paths</button>
                <button type="submit" class="btn btn-primary col-lg-12" ng-click="ShowEditInfoBtn()">Edit My Info</button>
            </div>
        </section>
        <section class="panel panel-primary" ng-show="ShowControlPanel">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <button type="submit" class="btn btn-primary col-lg-12" ng-click="Follow()"  ng-show="FollowShow">Follow</button>
                <button type="submit" class="btn btn-warning col-lg-12" ng-click="UnFollow()" ng-show="unFollowShow">Unfollow</button>
                <button type="submit" class="btn btn-primary col-lg-12" ng-click="ShowSendMessage()">Send Message</button>

                <button type="submit" class="btn btn-success col-lg-12" ng-click="PromoteUser()" ng-show="PromoteShow">Promote</button>
                <button type="submit" class="btn btn-danger col-lg-12" ng-click="DemoteUser()" ng-show="DemoteShow">Demote</button>
                <button type="submit" class="btn btn-warning col-lg-12" ng-click="RemoveBanUser()" ng-show="RemoveBanShow">Remove Ban</button>
                <button type="submit" class="btn btn-danger col-lg-12" ng-click="BanUser()" ng-show="BanShow">Ban</button>
            </div>
        </section>

        <ul class="list-group">
            <li class="list-group-item active panel-title">{{User.Username}}'s Followers</li>
            <li class="list-group-item" ng-repeat="user in Followers">
                <strong><a href="/#/User/{{user.Username}}">{{user.Username}}</a></strong>
            </li>
            <h6>{{Followersmessage}}</h6>
        </ul>

        <ul class="list-group">
            <li class="list-group-item active panel-title">Users Followed</li>
            <li class="list-group-item" ng-repeat="user in Followed">
                <strong><a href="/#/User/{{user.Username}}">{{user.Username}}</a></strong>
            </li>
            <h6>{{Followedmessage}}</h6>
        </ul>
    </aside>
</section>
