<section class="container" ng-controller="RegisterUserController">
    <div class="col-lg-6 col-lg-offset-3">
        <form name="UserRegisterForm" class="form-horizontal">
            <fieldset>
                </br>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Username: </label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" ng-model="userObj.username">
                    </div></div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Password: </label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" ng-model="userObj.password">
                    </div></div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">E-mail: </label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" ng-model="userObj.email">
                    </div></div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Name: </label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" ng-model="userObj.name">
                    </div></div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Gender: </label>

                    <div class="col-lg-10">
                        <label class="radio-inline" ><input type="radio" ng-model="userObj.gender" value="M" ng-checked="true">Male</label>
                        <label class="radio-inline" ><input type="radio" ng-model="userObj.gender" value="F">Female</label>
                        </br>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Birthdate:</label>
                    <div class="col-lg-10">
                        <select ng-model="birthYear">
                            <option ng-repeat="n in Years" value="{{n}}">{{n}}</option>
                        </select>
                        <select ng-model="birthMonth">
                            <option ng-repeat="n in Months" value="{{n}}">{{n}}</option>
                        </select>
                        <select ng-model="birthDay">
                            <option ng-repeat="n in Days" value="{{n}}">{{n}}</option>
                        </select>
                        </br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Image Url: </label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" ng-model="userObj.image"></br>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-lg-offset-5" ng-click="submitUserData()">Register!</button>
                <strong class="alert alert-danger" ng-hide="message=='' || !message">{{message}}</strong>
            </fieldset>
        </form>
    </div>
</section>

